
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&display=swap');
@import '../../assets/scss/conf';

.container{
    display: flex;
    font-family: 'Golos Text', sans-serif;
    font-size: 45px;
    margin: 2rem;
    color: $orange-web;
}
